<div class="main-visual">
    <p class="main-visual-text">
        今日学校であった嬉しいこと。<br>
        学校からのお知らせ、行事予定をいつでもどこでも確認。<br>
        先生への連絡をスムーズに。<br>
        学校と保護者をつなぐ情報共有サイト「School Share」です。
    </p>
</div>